.main-seguros {
  background-color: var(--color-c11);
  color: var(--color-w);
}
.seguros-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 60px 0 120px 0;
}
.seguros-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  align-items: center;
}
.seguros-cards p {
  position: relative;
  display: flex;
  align-items: center;
}
.seguros-cards p::before {
  content: "";
  background-image: url("/img/icones/lista.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 13px;
  height: 9px;
  left: -20px;
  position: absolute;
}
.card-prata,
.cards-ouro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-c12);
  border-radius: 4px;
  padding: 2rem 2rem 2rem 3rem;
}

.card-prata > div,
.cards-ouro > div {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-prata h3 {
  color: var(--color-c6);
}
.card-prata a {
  padding: 16px 32px;
  background-color: var(--color-c10);
  color: var(--color-c4);
  align-self: flex-start;
  border-radius: 4px;
}
.card-prata a:hover {
  background-color: var(--color-c9);
}
.cards-ouro h3 {
  color: var(--Primary-p1);
}
.ouro {
  align-self: self-start;
}
.seguros-cards span {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.seguros-cards span::after {
  content: "mensal";
  font-size: 1rem;
  color: var(--color-c6);
  font-weight: 500;
}

@media (max-width: 1200px) {
  .main-seguros {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .main-seguros {
    padding: 40px 20px;
  }
  .seguros-container {
    padding: 0;
  }
  .seguros-cards {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .cards-ouro {
    order: -1;
  }
}
@media (max-width: 500px) {
  .seguros-cards div {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .seguros-cards span::after {
    font-size: 12px;
  }
  .seguros-cards p {
    font-size: 1.125rem;
  }
  .card-prata,
  .cards-ouro {
    gap: 1rem;
  }
  .seguros-cards a {
    font-size: 1rem;
    margin-top: 12px;
  }
}

@media (max-width: 400px) {
  .cards-ouro,
  .card-prata {
    padding-left: 34px;
    padding-right: 14px;
  }
}
