.main-seguros {
  background-color: var(--color-c11);
  color: var(--color-w);
}
.seguros-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 60px 0 120px 0;
}
.seguros-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  align-items: center;
}
.seguros-cards p {
  position: relative;
  display: flex;
  align-items: center;
}
.seguros-cards p::before {
  content: "";
  background-image: url("/img/icones/lista.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 13px;
  height: 9px;
  left: -20px;
  position: absolute;
}
.card-prata,
.cards-ouro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-c12);
  border-radius: 4px;
  padding: 2rem 2rem 2rem 3rem;
}

.card-prata > div,
.cards-ouro > div {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-prata h3 {
  color: var(--color-c6);
}
.card-prata p {
  color: var(--color-c8);
}
.cards-ouro h3 {
  color: var(--Primary-p1);
}
