.bicicletas-banner {
  padding: 60px 0;
  background: var(--color-c11);
  color: var(--color-w);
}

.bicicletas-banner h4 {
  color: var(--color-c5);
  letter-spacing: 0;
  margin-bottom: 8px;
}

.cards-flex {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  gap: 60px;
}
.cards-flex h2 {
  font-size: 36px;
}

.cards-flex h2::before {
  content: "";
  display: block;
  width: 24px;
  height: 8px;
  background-color: var(--Primary-p1);
  margin: 16px 0;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.card-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-info > p {
  max-width: 44ch;
  color: var(--color-c8);
}
.card-tecnologia {
  display: flex;
  justify-content: space-between;
}
.card-tecnologia div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.card-tecnologia div p {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-c8);
  text-transform: uppercase;
  font-weight: 600;
}

.card-tecnologia a {
  align-self: flex-end;
  display: flex;
  gap: 8px;
  align-items: center;
}
.card-tecnologia a img {
  width: 18px;
  height: 10px;
}

.card-bg {
  padding: 60px 0;
  background-color: var(--color-c12);
  background: linear-gradient(
    to right,
    var(--color-w) 0,
    var(--color-w) 30%,
    var(--color-c11) 30%,
    var(--color-c11) 70%
  );
  color: var(--color-c5);
}
.card-bg h2 {
  color: var(--color-w);
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
  .cards-flex {
    padding: 60px 0;
  }
  .card-bg {
    background: var(--color-c11);
  }
  .card-tecnologia {
    flex-direction: column;
  }
  .card-tecnologia div {
    grid-template-columns: 1fr 1fr;
  }
  .card-tecnologia a {
    align-self: flex-start;
    margin-top: 30px;
  }
  .card-info > p {
    max-width: 100%;
  }
  .card-grid {
    gap: 0;
  }
}
@media (max-width: 600px) {
  .bicicletas-banner {
    padding: 30px 0;
  }
  .cards-flex {
    padding: 30px 0;
    gap: 30px;
  }
  .card-info h2 {
    font-size: 24px;
  }
  .card-bg {
    padding: 30px 0;
  }
  .card-tecnologia a {
    font-size: 16px;
    padding: 16px;
    margin-top: 24px;
  }
  .card-info > p {
    font-size: 16px;
  }

  .card-tecnologia div p {
    font-size: 16px;
  }
  .card-tecnologia div img {
    width: 24px;
  }
}
