.orcamento-form {
  background-color: var(--color-w);
  border-radius: 0 8px 8px 0;
}
.intro-form {
  border-radius: 0 8px 8px 0;
}
.intro-form form {
  color: var(--color-c11);
  padding: 60px;
  width: 100%; /* Garante que o formulário ocupe toda a largura */
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%; /* Garante que a grade ocupe toda a largura */
}

.intro-form label {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.intro-form input {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-c2);
  border: 2px solid transparent;
  width: 100%; /* Garante que os inputs e textarea ocupem toda a largura */
}

.full {
  grid-column: 1 / 3;
}

.intro-form input:focus {
  outline: none;
  border: 2px solid var(--Primary-p1);
}

.intro-form input:hover {
  background-color: var(--color-c3);
}

.intro-form input:valid {
  border: 2px solid green;
}

.intro-form input:invalid:focus {
  border: 2px solid red;
}

.form-title {
  position: relative;
  display: flex;
  align-items: center;
  grid-column: 1/3;
  text-transform: uppercase;
  color: var(--color-c9);
}

.form-title::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 100%;
  background-color: var(--Primary-p1);
  left: -16px;
}
.form-grid h4:nth-child(6) {
  margin: 2rem 0 00;
}

/* Estilos para o label com o id 'termos-condicoes' */
#termos-condicoes {
  display: flex; /* Torna o label um container flex */
  flex-direction: row;
  align-items: center; /* Alinha verticalmente o checkbox e o texto */
  gap: 10px; /* Adiciona espaço entre o checkbox e o texto */
}

#termos-condicoes input[type="checkbox"] {
  /* Ajustes adicionais para o checkbox, se necessário */
  margin: 0; /* Remove margens indesejadas */
  padding: 0; /* Remove padding extra */
  width: max-content;
}

#termos-condicoes a {
  color: var(--color-c11);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

input[type="submit"] {
  grid-column: 1/3;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  width: max-content; /* Garante que o botão ocupe toda a largura */
  border: none !important;
}
.orcamento-form {
  position: relative;
}
.decor-rigth {
  position: absolute;
  right: 24px;
  bottom: 24px;
}
